<body class="main-body">
  <div class="container main-content">
    <div class="row">
      <div class="col-lg-4">
        <div class="container fix-box">
          <div class="row">
            <div class="col-sm-12 profile-box">
              <h1 id="username">Welcome,<br><%= @user.username %>.</h1>
              <p class="sub-title symptom">Known Symptoms:<p>
              <p class="user-symptoms">
                <%@user.symptoms.each do |symptom|%>
                <ul>
                <li>- <%=symptom.name%></li>
                <ul>
                <%end%>
              </p>

              <p class="sub-title medication">Current Medications:<p>
                <p class="user-symptoms">
                <ul>
                <%@user.medications.each do |medication|%>
                <li>- <%=medication.name%></li>
                </ul>
                <%end%>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <form method="GET" action="/posts">
                <input type="hidden" name="kind" value="symptom"></input>
                <input type="submit" value="Report Symptom" class="user-button button-s"></input>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
            <form method="GET" action="/posts">
              <input type="hidden" name="kind" value="medication"></input>
              <input type="submit" value="Take Medication" class="user-button button-m"></input>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 log-box">
          <form method="GET" action="/logout">
            <input type="submit" value="Log Out" class="user-button button-l"></input>
          </form>
        </div>
      </div>
      </div>
      </div>

      <div class="col-lg-8">
        <%if @user.posts.empty?%>
        <h2 class="starter-text">Add a symptom or medication to get started.</h2>
        <% end %>
        <% @user.posts.reverse_each do |post| %>
          <div class="container post-box">
            <div class="row post-title-box <%if post.kind == "medication"%>medbox<%end%>">
              <div class="col-sm-12">
                <p class="post-title"><%=post.title%></p>
              </div>
            </div>

            <div class="row post-info-box">
              <%if post.kind == "symptom" %>
              <div class="col-sm-12">
                <p><%=post.duration%>&nbsp;&nbsp; <span class="bullet">&bull;</span> &nbsp;&nbsp;<%=post.intensity%>/5 Intensity&nbsp;&nbsp; <span class="bullet">&bull;</span> &nbsp;&nbsp;<%=post.post_time%></p>
              </div>
              <%elsif post.kind == "medication"%>
              <div class="col-sm-12">
                <p>Took <%=post.dose%>&nbsp;&nbsp; <span class="bullet">&bull;</span> &nbsp;&nbsp;
                <%=post.post_time%></p>
              </div>
              <% end %>
            </div>
            <% if post.note %>
            <div class="row post-note-box">
              <div class="col-sm-12">
                <p class="post-note"><%=post.note%></p>
              </div>
            </div>
            <% end %>
            <hr>

            <div class="row">
              <div class="col-sm-8">

              </div>
              <div class="col-sm-2 button-box">
                <form method="GET" action="/posts/<%=post.id%>">
                  <input type="submit" value="Edit" class="sub-button">
                </form>
              </div>
              <div class="col-sm-2 button-box">
                <form method="POST" action="/posts/<%=post.id%>/delete">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Delete" class="sub-button">
                </form>
              </div>

            </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>

<!--
<div class="container main-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="user-box">
      <h1 id="username">Welcome, <%= @user.username %>.</h1>
      <p class="sub-title">Known Symptoms:<p>
      <p class="user-symptoms">
        <%@user.symptoms.each do |symptom|%>
        <ul>
        <li>- <%=symptom.name%></li>
        <ul>
        <%end%>
      </p>

      <p class="sub-title">Current Medications:<p>
        <p class="user-symptoms">
        <ul>
        <%@user.medications.each do |medication|%>
        <li>- <%=medication.name%></li>
        </ul>
        <%end%>
      </p>

      <form method="GET" action="/posts">
        <input type="hidden" name="kind" value="symptom"></input>
        <input type="submit" value="Report Symptom" class="user-button"></input>
      </form>

      <form method="GET" action="/posts">
        <input type="hidden" name="kind" value="medication"></input>
        <input type="submit" value="Take Medication" class="user-button"></input>
      </form>
    </div>
    </div>

    <div class="col-lg-8">

    <% @user.posts.each do |post| %>
      <div row>
        <div class="col-sm-12 post">
            <p class="post-title"><%=post.title%></p>
            <% if post.kind == "symptom" %>
            <p><span class="bold">Duration:</span> <%=post.duration%> <span class="divider">|</span><span class="bold">Intensity:</span> <%=post.intensity%>/5</p>
            <% elsif post.kind == "medication"%>
            <p><span class="bold">Dose:</span><%=post.dose%></p>
            <% end %>
            <p class="date"><%=post.post_time%></p>

            <form method="GET" action="/posts/<%=post.id%>">
              <input type="submit" value="Edit" class="sub-button">
            </form>
            <form method="POST" action="/posts/<%=post.id%>/delete">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete" class="sub-button">
            </form>
      </div>
      <% end %>

    </div>

  </div>
</div>
</div>
-->
</body>
