<h1><%= @user.username %></h1>

<form method="GET" action="/posts">
  <input type="hidden" name="kind" value="symptom">
  <input type="submit" value="Symptom Post"></input>
</form>

<form method="GET" action="/posts">
  <input type="hidden" name="kind" value="medication">
  <input type="submit" value="Take Medication"></input>
</form>

<h3>Posts</h3>
<% @user.posts.each do |post| %>
  <h5><%=post.title%></h5>
  <p><%=post.post_time%></p>
  <% if post.kind == "symptom" %>
  <p><%=post.duration%></p>
  <p>Intensity(out of 5) <%=post.intensity%></p>
  <% elsif post.kind == "medication"%>
  <p>Dose <%=post.dose%></p>
  <% end %>
  <form method="GET" action="/posts/<%=post.id%>">
    <input type="submit" value="Edit">
  </form>
  <form method="POST" action="/posts/<%=post.id%>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <hr>
<% end %>
