<h1>Edit Post</h1>
<% if @post.kind == "symptom" %>
<form method="POST" action="/posts/<%=@post.id%>/edit">
  <input type="hidden" name="_method" value="patch">
    <!--Creates a list of all symptoms in database/allows user to add new symptoms-->
    <input list="symptoms" name="title" placeholder="<%=@post.title%>">
    <datalist id="symptoms">
      <% @symptoms.each do |symptom| %>
      <option value="<%=symptom.name%>">
      <% end %>
    </datalist>

    <p>Rate the intensity</p>
    <input type="radio" name="intensity" value="1">1</input>
    <input type="radio" name="intensity" value="2">2</input>
    <input type="radio" name="intensity" value="3" checked>3</input>
    <input type="radio" name="intensity" value="4">4</input>
    <input type="radio" name="intensity" value="5">5</input>

    <p>Duration</p>
    <input type="text" name="duration[length]" placeholder="<%= @post.duration %>"></input>
    <select name="duration[unit]">
      <option value="Minutes">Minutes</option>
      <option value="Hours">Hours</option>
      <option value="Days">Days</option>
    </select>
    <input type="hidden" value="symptom" name="kind">
    <input type="submit" value="submit">
  </form>

  <% elsif @post.kind == "medication" %>

<p>Med Post</p>
  <form method="POST" action="/posts/<%=@post.id%>/edit">
    <input type="hidden" name="_method" value="patch">

    <!--Creates a list of all symptoms in database/allows user to add new symptoms-->
    <input list="medications" name="title" placeholder="<%=@post.title%>">
    <datalist id="medications">
      <% @medications.each do |medication| %>
      <option value="<%=medication.name%>">
      <% end %>
    </datalist>

    <p>Dose</p>
    <input type="text" name="dose" placeholder="<%=@post.dose%>"</input>
    <input type="hidden" value="medication" name="kind">
    <input type="submit" value="submit">
  </form>
<% end %>
