<body class="main-body">
  <div class="container main-content">
    <div class="row">
      <div class="col-lg-4 height-fix">
        <div class="container fix-box height-fix">
          <div class="row height-fix">
            <div class="col-sm-12 profile-box">
              <h1 id="username">Welcome,<br><%= @user.username %>.</h1>
              <p class="sub-title symptom">Known Symptoms:<p>
              <p class="user-symptoms">
                <ul>
                  <%if @user.symptoms.empty? %>
                  <li>- none </li>
                  <% end %>
                <%@user.symptoms.each do |symptom|%>
                <li>- <%=symptom.name%></li>
                <%end%>
                </ul>
              </p>

              <p class="sub-title medication">Current Medications:<p>
                <p class="user-symptoms">
                <ul>
                  <%if @user.medications.empty? %>
                  <li>- none </li>
                  <% end %>
                <%@user.medications.each do |medication|%>
                <li>- <%=medication.name%></li>
                </ul>
                <%end%>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <form method="GET" action="/posts">
                <input type="hidden" name="kind" value="symptom"></input>
                <input type="submit" value="Report Symptom" class="user-button button-s"></input>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
            <form method="GET" action="/posts">
              <input type="hidden" name="kind" value="medication"></input>
              <input type="submit" value="Take Medication" class="user-button button-m"></input>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 log-box">
          <form method="GET" action="/logout">
            <input type="submit" value="Log Out" class="user-button button-l"></input>
          </form>
        </div>
      </div>
      </div>
      </div>

      <div class="col-lg-8">
        <%if @user.posts.empty?%>
        <h2 class="starter-text">Add a symptom or medication to get started.</h2>
        <% end %>
        <% @user.posts.reverse_each do |post| %>
        <%if post.kind == "symptom" %>
          <div class="container post-box">
            <div class="row post-title-box <%if post.kind == "medication"%>medbox<%end%>">
              <div class="col-sm-12">
                <p class="post-title"><%=post.title%></p>
              </div>
            </div>

            <div class="row post-info-box">

              <div class="col-sm-12">
                <p><%=post.duration%>&nbsp;&nbsp; <span class="bullet">&bull;</span> &nbsp;&nbsp;<%=post.intensity%>/5 Intensity&nbsp;&nbsp; <span class="bullet">&bull;</span> &nbsp;&nbsp;<%=post.post_time%></p>
              </div>

            </div>
            <% if post.note %>
            <div class="row post-note-box">
              <div class="col-sm-12">
                <p class="post-note"><%=post.note%></p>
              </div>
            </div>
            <% end %>
            <hr>

            <div class="row">
              <div class="col-sm-8">

              </div>
              <div class="col-sm-2 button-box">
                <form method="GET" action="/posts/<%=post.id%>">
                  <input type="submit" value="Edit" class="sub-button">
                </form>
              </div>
              <div class="col-sm-2 button-box">
                <form method="POST" action="/posts/<%=post.id%>/delete">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Delete" class="sub-button">
                </form>
              </div>

            </div>
        </div>
        <% end %>

        <% end %>

      </div>
    </div>
  </div>

</body>
